<div
    class="sw-cms-el-ict-nine-column"
    :class="{ 'sw-cms-el-ict-nine-column--placeholder': isPlaceholder }"
>
    <div
        v-if="isPlaceholder"
        class="sw-cms-el-ict-nine-column__placeholder"
        role="button"
        :tabindex="disabled ? -1 : 0"
        @click="onPlaceholderActivate"
        @keydown.enter.prevent="onPlaceholderActivate"
        @keydown.space.prevent="onPlaceholderActivate"
    >
        <sw-icon
            class="sw-cms-el-ict-nine-column__placeholder-icon"
            name="regular-plus-circle"
            size="18"
        />

        <span class="sw-cms-el-ict-nine-column__placeholder-label">
            {{ $tc('sw-cms.detail.title.elementChangeModal') }}
        </span>
    </div>

    <template v-else>
        <div class="sw-cms-el-ict-nine-column__media">
            <img
                v-if="media"
                :src="media.url"
                :alt="media.translated.alt || title"
            >

            <div
                v-else
                class="sw-cms-el-ict-nine-column__media-placeholder"
            >
                {{ title }}
            </div>
        </div>

        <div class="sw-cms-el-ict-nine-column__content">
            <p
                v-if="eyebrow"
                class="sw-cms-el-ict-nine-column__eyebrow"
            >
                {{ eyebrow }}
            </p>

            <h3
                v-if="title"
                class="sw-cms-el-ict-nine-column__title"
            >
                {{ title }}
            </h3>

            <p
                v-if="text"
                class="sw-cms-el-ict-nine-column__text"
            >
                {{ text }}
            </p>

            <span
                v-if="linkText"
                class="sw-cms-el-ict-nine-column__link"
            >
                {{ linkText }}
            </span>
        </div>
    </template>
</div>
